@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
.dots-container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
 }
 
 .dot {
   height: 20px;
   width: 20px;
   margin-right: 10px;
   border-radius: 10px;
   background-color: #b3d4fc;
   animation: pulse 1.5s infinite ease-in-out;
 }
 
 .dot:last-child {
   margin-right: 0;
 }
 
 .dot:nth-child(1) {
   animation-delay: -0.3s;
 }
 
 .dot:nth-child(2) {
   animation-delay: -0.1s;
 }
 
 .dot:nth-child(3) {
   animation-delay: 0.1s;
 }
 
 @keyframes pulse {
   0% {
     transform: scale(0.8);
     background-color: #b3d4fc;
     box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
   }
 
   50% {
     transform: scale(1.2);
     background-color: #6793fb;
     box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
   }
 
   100% {
     transform: scale(0.8);
     background-color: #b3d4fc;
     box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
   }
 }
:root{
   --main-color: #6c7ae4;
   --light-color:#666;
   --light-bg: white;
   --white:#fff;
   --black:#303030;
   --border:.1rem solid var(--light-color);
   --box-shodow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Montserrat', sans-serif;
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::selection{
   background-color: black;
   color: var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 0rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: black;
   border-radius: 5rem;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 10rem;
}

section{
   margin: 0 auto;
}

.map {
    width: 100%;
    height: 400px;
  }

.heading{
   text-align: center;
   padding-bottom: 2.5rem;
   font-size: 3rem;
   color: var(--black);
   text-transform: capitalize;
}

.btn,
.inline-btn{
   margin-top: 1rem;
   padding: 1rem 3rem;
   background-color: var(--main-color);
   color: var(--white);
   cursor: pointer;
   text-align: center;
   font-size: 1.8rem;
   text-transform: capitalize;
}

.btn:hover,
.inline-btn:hover{
   background-color: #4552ae;
}

.btn{
   border-radius: 5px;
   display: block;
   width: 100%;
}

.inline-btn{
   display: inline-block;
   border-radius: 5px;
}

.header{
   position: sticky;
   top: 0; left: 0; right: 0;
   z-index: 1000;
   box-shadow: var(--box-shodow);
}



.header .navbar.nav-1 .flex{
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.header .navbar.nav-2 .flex{
   padding-top: 0;
   padding-bottom: 0;
}

.header .navbar.nav-1{
   background-color:white;
   padding: 0.6rem 2rem;
   
}

.header .navbar.nav-2{
   background-color: orange;
}

.header .navbar .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header .navbar .flex .logo{
   font-size: 2.2rem;
}

.header .navbar .flex .logo i{
   color: var(--main-color);
   margin-right: 1rem;
}

.header .navbar .flex ul{
   list-style: none;
}

.header .navbar .flex ul li{
   float: left;
   position: relative;

}

.header .navbar .flex ul li a{
   display: inline-block;
   padding: 0.9rem 2rem;
   font-size: 1.8rem;
   color: var(--yellow);
   background-color: var(--border);
}

.header .navbar .flex ul li a:hover{
   background-color: #fff;
   color: #000;
}

.header .navbar .flex ul li a i{
   margin-left: 1rem;
}

.header .navbar .flex ul li ul{
   position: absolute;
   width: 17rem;
   left: 0;
   color: yellowgreen;
}

.header .navbar .flex ul li ul li{
   width: 100%;
   background-color: #303030;
}

.header .navbar .flex ul li ul li a{
   display: none;
}

.header .navbar .flex ul li:hover ul li a{
   display: block;
   background-color: #fff;
   color: #000;
}

#menu-btn{
   font-size: 2.5rem;
   color: var(--black);
   display: none;
}

.home{
   background:url('./components/images/home1-bg.jpg') no-repeat;
   background-size: cover;
   background-position: center;
}
.imageSlide{
   filter: blur(4px);
   object-fit: cover;
   object-position: 0px 80px;
}
.home .center{
   height: 88vh;
   display: flex;
   align-items:end;
   justify-content:flex-end;
}

.home.div {
   width: 100px;
   height: 100px;
   position: absolute;
   left: 50%;
   margin-left: 50px;
   top: 50%;
   margin-top: -50px;
}
.home .center form{
   position: absolute;
    top: 130px;
    right: 38px;
   background-color: var(--white);
   padding: 2rem;
   box-shadow: var(--box-shodow);
   width: 50rem;
   margin-left: 50px;
}

.home .center form h3{
   padding-bottom: 1rem;
   text-align: center;
   color: var(--black);
   text-transform: capitalize;
   font-size: 2.5rem;
}

.home .center form .flex{
   display: flex;
   gap:1rem;
   flex-wrap: wrap;
}

.home .center form .box{
   flex: 1 1 20rem;
}

.home .center form .box .input{
   width: 100%;
   border: var(--border);
   padding: 1.4rem;
   color: var(--black);
   font-size: 1.8rem;
   margin: 1rem 0;
}

.home .center form .box p{
   color: var(--light-color);
   font-size: 1.7rem;
   padding-top: 1rem;
}

.home .center form .box p span{
   color: var(--main-color);
}

.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   gap: 2rem;
   justify-content: center;
   align-items: flex-start;
}

.services .box-container .box{
   background-color: var(--white);
   box-shadow: var(--box-shodow);
   padding: 2rem;
   text-align: center;
   height: 575px;
}

.services .box-container .box img{
   margin: 1rem 0;
   height: 8rem;
}

.services .box-container .box h3{
   font-size: 2rem;
   padding: 1rem 0;
   color: var(--black);
   text-transform: capitalize;
}

.services .box-container .box p{
   line-height: 2;
   font-size: 1.6rem;
   color: var(--light-color);
   padding-top: .5rem;
}

.listings .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap: 2rem;
   justify-content: center;
   align-items: flex-start;
}

.listings .box-container .box{
   background-color: var(--white);
   box-shadow: var(--box-shodow);
   padding: 2rem;
   overflow-x: hidden;
   height: 575px;
}

.listings .box-container .box .admin{
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.listings .box-container .box .admin h3{
   height: 4.5rem;
   line-height: 4.4rem;
   width: 4.5rem;
   border-radius: 50%;
   font-size: 2rem;
   color: var(--black);
   background-color: var(--light-bg);
   text-align:center;
   box-shadow: 0px 0px 5px 2px rgba(0,0,0,.07);
}

.listings .box-container .box .admin p{
   font-size: 1.7rem;
   color: var(--black);
   padding-bottom: .3rem;
}

.listings .box-container .box .admin span{
   font-size: 1.5rem;
   color: var(--light-color);
}

.listings .box-container .box .thumb{
   position: relative;
   height: 20rem;
   overflow: hidden;
   margin: 1.5rem 0;
}

.listings .box-container .box .thumb img{
   height: 100%;
   width: 100%;
   transition: .2s linear;
}

.listings .box-container .box:hover .thumb img{
   transform: scale(1.1);
}

.listings .box-container .box .thumb .total-images{
   position: absolute;
   top: 1rem; left: 1rem;
   background-color: rgba(0,0,0,.3);
   color: var(--white);
   padding: .5rem 1.5rem;
   font-size: 1.6rem;
   z-index: 1;
}

.listings .box-container .box .thumb .total-images i{
   margin-right: .7rem;
}

.listings .box-container .box .thumb .type{
   position: absolute;
   bottom: 1rem; left: .7rem;
   z-index: 1;
}

.listings .box-container .box .thumb .type span{
   margin-right: .7rem;
   padding: .5rem 1.5rem;
   color: black;
   background-color: white;
   font-size: 1.6rem;
   border-radius: 5px;
}

.listings .box-container .box .thumb .save{
   position: absolute;
   top: 1rem; right: 1rem;
   z-index: 1;
}

.listings .box-container .box .thumb .save button{
   background-color: rgba(0,0,0,.3);
   color: var(--white);
   padding: .7rem 1rem;
   font-size: 1.6rem;
   cursor: pointer;
}

.listings .box-container .box .thumb .save button:hover{
   background-color: var(--main-color);
}

.listings .box-container .box .name{
   font-size: 2rem;
   text-overflow: ellipsis;
   overflow-x: hidden;
   color: var(--black);
   margin-bottom: .5rem;
}

.listings .box-container .box .location{
   padding-top: 1rem;
   font-size: 1.6rem;
   color: var(--light-color);
}

.listings .box-container .box .location i{
   margin-right: 1rem;
   color: black;
}

.listings .box-container .box .flex{
   display: flex;
   background-color: var(--light-bg);
   padding: 1.5rem;
   justify-content: space-between;
   align-items: center;
   margin: 1.5rem 0;
   flex-wrap: wrap;
   gap: 1.5rem;
}

.listings .box-container .box .flex p{
   font-size: 1.6rem;
   flex: 1 1 4rem;
}

.listings .box-container .box .flex p span{
   color: var(--light-color);
}

.listings .box-container .box .flex p i{
   margin-right: 1rem;
   color: black;
}

.view-property .details{
   background-color: var(--white);
   box-shadow: var(--box-shodow);
   padding: 2rem;
   overflow-x: hidden;
}

.view-property .details .thumb{
   background-color: var(--black);
   padding: 1.5rem;
   margin-bottom: 1.5rem;
}

.view-property .details .thumb .big-image img{
   height: 40rem;
   width: 100%;
   object-fit: contain;
}

.view-property .details .thumb .small-images{
   display: flex;
   justify-content: center;
   gap: 1.5rem;
   padding-top: 1rem;
   flex-wrap: wrap;
}

.view-property .details .thumb .small-images img{
   height: 7rem;
   width: 10rem;
   object-fit: cover;
   cursor: pointer;
   transition: .2s linear;
}

.view-property .details .thumb .small-images img:hover{
   transform: scale(1.1);
}

.view-property .details .name{
   font-size: 2rem;
   text-overflow: ellipsis;
   overflow-x: hidden;
   margin-bottom: .5rem;
}

.view-property .details .location{
   padding-top: 1rem;
   font-size: 1.6rem;
   color: var(--light-color);
}

.view-property .details .location i{
   margin-right: 1rem;
   color: var(--main-color);
}

.view-property .details .info{
   display: flex;
   background-color: var(--light-bg);
   padding: 1.5rem;
   margin: 1.5rem 0;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   gap: 2rem;
}

.view-property .details .info p{
   font-size: 1.7rem;
}

.view-property .details .info p span,
.view-property .details .info p a{
   color: var(--light-color);
}

.view-property .details .info p a:hover{
   text-decoration: underline;
}

.view-property .details .info p i{
   margin-right: 1.5rem;
   color: black;
}

.view-property .details .title{
   font-size: 2rem;
   color: var(--black);
   padding-bottom: 1.5rem;
   border-bottom: var(--border);
   font-weight: 600;
}

.view-property .details .flex{
   margin: 1.5rem 0;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.view-property .details .flex .box{
   flex: 1 1 40rem;
}

.view-property .details .flex .box p{
   padding: .5rem 0;
   font-size: 1.6rem;
   color: var(--light-color);
}

.view-property .details .flex .box i{
   color: black;
   font-weight: 700;
   margin-right: 1.5rem;
}

.view-property .details .description{
   padding: .5rem 0;
   margin-top: .5rem;
   font-size: 1.6rem;
   color: var(--light-color);
   line-height: 1.5;
}

.about .row{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   align-items: center;
}

.about .row .image{
   flex: 1 1 40rem;
}

.about .row .image img{
   width: 100%;
}

.about .row .content{
   flex: 1 1 40rem;
   text-align: center;
}

.about .row .content h3{
   font-size: 2.5rem;
   color: var(--black);
   margin-bottom: .5rem;
   text-transform: capitalize;
}

.about .row .content p{
   line-height: 2;
   padding: 1rem 0;
   font-size: 1.7rem;
   color: var(--light-color);
}

.steps .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 30rem);
   gap: 2rem;
   justify-content: center;
   align-items: flex-start;
}

.steps .box-container .box{
   background-color: var(--white);
   padding: 2rem;
   text-align: center;
   box-shadow: var(--box-shodow);
}

.steps .box-container .box img{
   height: 7rem;
   margin: .5rem 0;
}

.steps .box-container .box h3{
   padding: 1rem 0;
   font-size: 2rem;
   text-transform: capitalize;
   color: var(--black);
}

.steps .box-container .box p{
   line-height: 2;
   font-size: 1.6rem;
   color: var(--light-color);
}

.reviews .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap: 2rem;
   justify-content: center;
   align-items: flex-start;
}

.reviews .box-container .box{
   background-color: var(--white);
   padding: 2rem;
   box-shadow: var(--box-shodow);
}

.reviews .box-container .box .user{
   display: flex;
   align-items: center;
   gap: 1.5rem;
   margin-bottom: 1rem;
}

.reviews .box-container .box .user img{
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
}

.reviews .box-container .box .user h3{
   font-size: 2rem;
   color: var(--black);
   padding-bottom: .3rem;
}

.reviews .box-container .box .user .stars i{
   font-size: 1.5rem;
   color: var(--main-color);
}

.reviews .box-container .box p{
   line-height: 2;
   padding-top: .5rem;
   font-size: 1.6rem;
   color: var(--light-color);
}

.contact .row{
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   align-items: center;
}

.contact .row .image{
   flex: 1 1 50rem;
}

.contact .row .image img{
   width: 100%;
}

.contact .row form{
   flex: 1 1 30rem;
   background-color: var(--white);
   box-shadow: var(--box-shodow);
   padding: 2rem;
}

.contact .row form h3{
   padding-bottom: 1rem;
   font-size: 2.5rem;
   color: var(--black);
   text-align: center;
   text-transform: capitalize;
}

.contact .row form .box{
   width: 100%;
   border: var(--border);
   padding: 1.4rem;
   color: var(--black);
   font-size: 1.8rem;
   margin: 1rem 0;
}

.contact .row form textarea{
   height: 15rem;
   resize: none;
}

.faq .box-container{
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
   align-items: flex-start;
}


.faq .box-container .box{
   flex: 1 1 40rem;
   box-shadow: var(--box-shodow);
}

.faq .box-container .box h3{
   padding: 1.5rem 2rem;
   font-size: 2rem;
   background-color: var(--black);
   color: var(--white);
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
   cursor: pointer;
}

.faq .box-container .box p{
   font-size: 1.6rem;
   color: var(--light-color);
   background-color: var(--white);
   padding: 1.5rem 2rem;
   line-height: 1.5;
   display: none;
}

.faq .box-container .box.active p{
   display: block;
}

.faq .box-container .box.active h3{
   background-color: var(--main-color);
}

.filters form{
   background-color: var(--white);
   box-shadow: var(--box-shodow);
   padding: 2rem;
}

.filters form #close-filter{
   text-align: right;
   padding-bottom: 2rem;
   display: none;
}

.filters form #close-filter i{
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.4rem;
   background-color: var(--main-color);
   color: var(--white);
   cursor: pointer;
   font-size: 2rem;
   text-align: center;
}

.filters form #close-filter i:hover{
   background-color: var(--black);
}

.filters form h3{
   font-size: 2.5rem;
   padding-bottom: 2rem;
   color: var(--black);
   text-transform: capitalize;
   text-align: center;
}

.filters form .flex{
   display: flex;
   gap: 1rem;
   align-items: center;
}

.filters form .flex .box{
   flex: 1 1 40rem;
}

.filters form .flex .box .input{
   width: 100%;
   margin: 1rem 0;
   font-size: 1.2rem;
   color: var(--black);
   border: var(--border);
   padding: 0.8rem;
   border-radius: 5px;
   border: 1px solid rgba(0,0,0,.1);
}

.filters form .flex .box p{
   font-size: 1rem;
   color: var(--light-color);
}

#filter-btn{
   position: fixed;
   bottom: 1rem; right: 1rem;
   background-color: var(--border);
   color: var(--white);
   text-align: center;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.4rem;
   z-index: 1000;
   font-size: 2rem;
   background-color: var(--main-color);
   display: none;
}

.form-container form{
   max-width: 37rem;
   margin: 0 auto;
   background-color: var(--white);
   box-shadow: 0px 0px 7px 2px rgba(0,0,0,.1);
   padding: 2rem;
   text-align: center;
   height: 50rem;
   display: flex;
   flex-direction: column;
   border-radius: 8px;
   justify-content: center;
}

.form-container form h3{
   padding-bottom: 1rem;
   font-size: 2.5rem;
   color: var(--black);
   text-transform: capitalize;
}

.form-container form .box{
   border: 1px solid rgba(0,0,0,.1);
   padding: 1.2rem;
   color: var(--black);
   margin: 1rem 0;
   width: 100%;
   font-size: 1.2rem;
   box-shadow: 0px 0px 7px 2px rgba(0,0,0,.07);
   border-radius: 5px;
}

.form-container form p{
   font-size: 1.7rem;
   padding: 1rem 0;
   color: var(--light-color);
}

.form-container form p a{
   color: var(--main-color);
}

.form-container form p a:hover{
   text-decoration: underline;
}


#map{
   width: 100%;
   height: 500px;
   border-radius: 10px;
   border: 1px solid orange;
}

/* media queries  */

@media (max-width:767px){

   html{
      font-size: 55%;
   }

}

@media (max-width:574px){

   #menu-btn{
      display: inline-block;
   }

   .header .navbar .menu{
      position: absolute;
      top: 99%; left: 0; right: 0;
      background-color: var(--white);
      border-top: var(--border);
      transition: .2s linear;
      z-index:1;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .navbar .menu.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar .menu ul li{
      width: 100%;
      position: relative;
   }

   .header .navbar .menu ul li a{
      width: 100%;
   }

   .header .navbar .menu ul li ul{
      position: relative;
      width: 100%;
   }

   .header .navbar .menu ul li ul li a{
      padding-left: 4rem;
      background-color: var(--black);
      color: var(--white);
   }

   .view-property .details .thumb .big-image img{
      height: auto;
   }

   .view-property .details .thumb .small-images img{
      height: 4rem;
      width: 6rem;
   }

   #filter-btn{
      display: inline-block;
   }

   .filters{
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      overflow-y: scroll;
      background-color: var(--white);
      z-index: 1100;
      padding: 0;
      display: none;
   }

   .filters.active{
      display: block;
   }

   .filters form{
      box-shadow: none;
   }

   .filters form #close-filter{
      display: block;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .header .navbar .flex .logo{
      font-size: 1.8rem;
   }

   .home .center form .flex{
      gap: 0;
   }

   .listings .box-container{
      grid-template-columns: 1fr;
   }

   .reviews .box-container{
      grid-template-columns: 1fr;
   }

}
/* footer css below */
@media (min-width: 450px) {
   .sm-450\:text-2xl {
       font-size: 1.5rem;
       line-height: 2rem
   }

   .sm-450\:text-xl {
       font-size: 1.25rem;
       line-height: 1.75rem
   }
}
